Application/Code/DBMS_G15/DBMS_G15/obj/*
Application/Code/DBMS_G15/DBMS_G15/bin/*
Application/Code/DBMS_G15/.vs/*
*.cache
*.docx
*.pdf
*.exe
Application/Code/DemoLoi/DemoLoi/DemoLoi/obj/*
Application/Code/DemoLoi/DemoLoi/DemoLoi/bin/*
Application/Code/DemoLoi/DemoLoi/.vs/*